<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishwar_arcore.saveo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_saveo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_saveo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saveo">
        <activity android:name=".ui.views.MovieDetailActivity" />
        <activity android:name=".ui.views.MovieListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.views.SplashScreenActivity">

        </activity>
    </application>

</manifest>